<%= form_for(@deer) do |f| %>
  <% if @deer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@deer.errors.count, "error") %> prohibited this deer from being saved:</h2>

      <ul>
      <% @deer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :age %><br>
    <%= f.number_field :age %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
