<p id="notice"><%= notice %></p>

<h1>Listing Deers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @deers.each do |deer| %>
      <tr>
        <td><%= deer.name %></td>
        <td><%= deer.age %></td>
        <td><%= link_to 'Show', deer %></td>
        <td><%= link_to 'Edit', edit_deer_path(deer) %></td>
        <td><%= link_to 'Destroy', deer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Deer', new_deer_path %>
